<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/accueil">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gagner" href="/gagner">
      <ion-icon aria-hidden="true" name="barbell-outline"></ion-icon>
      <ion-label>Gagner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="depenser" href="/depenser">
      <ion-icon aria-hidden="true" name="game-controller-outline"></ion-icon>
      <ion-label>Dépenser</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historique" href="/historique">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reglages" href="/reglages">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
